.box {
    width: 100px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 10px;
    animation-name: box;
    animation-duration: 4s;
    animation-timing-function: ;
    animation-iteration-count: infinite;
}



@keyframes box {
    0%{
        margin: 0px;
    }
    25%{
        margin-right: calc(50vw - 50px);
    }
    50%{
        margin-bottom: calc(50vw - 50px);
    }
    75%{
        m
    }
}