$primaryBackgroundColor: #fff;
$primaryTextColor: #000;
$headerHoverColor: #F1F1F1;
$inputTextColor: #7E7E7E;
$inputBackgroundColor: #D7D7D7;
$correctAnswerTextColor: #039900;
$incorrectAnswerTextColor: #990000;
$footballBackgroundColor: #5ABB58;